### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
schoolData = "Resources/schools_complete.csv"
studentData = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
schoolData_df = pd.read_csv(schoolData)
studentData_df = pd.read_csv(studentData)

# Combine the data into a single dataset.  
schoolData_df.rename(columns = {'student_name': 'school_name'}, inplace = True)

fullData_df = studentData_df.merge(schoolData_df, how = 'left', on = 'school_name')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
# Calculate Number of Schools
schoolName_sort = schoolData_df['school_name'].unique()
schoolName_count = len(schoolName_sort)


# Calculate Number of Students in District
studentTotal = schoolData_df['size'].sum()


# Calculate Total Budget
budgetTotal = schoolData_df['budget'].sum()


# Calculate Avg. Math Score
mathScores = studentData_df["math_score"].mean()

# Calculate Percentage of Students, Passing Math (70+)
mathPassing = studentData_df.loc[studentData_df["math_score"]>=70]["math_score"].count()/studentTotal


# Calculate Avg. Reading Score
readingScores = studentData_df["reading_score"].mean()

# Calculate Percentage of Students, Passing Reading (70+)
readingPassing = studentData_df.loc[studentData_df["reading_score"]>=70]["reading_score"].count()/studentTotal


# Calculate Overall Passing Percentage
overallPassing = studentData_df[(studentData_df['math_score'] >= 70) & (studentData_df['reading_score'] >= 70)]['student_name'].count()/studentTotal


# Build and Display DataFrame
districtSummary = pd.DataFrame({"Total Schools":[schoolName_count],
                                 "Total Students":[studentTotal],
                                 "Total Budget":[budgetTotal],
                                 "Average Math Score":[mathScores],
                                 "Average Reading Score":[readingScores],
                                 "Math Passing Rate":[mathPassing],
                                 "Reading Passing Rate":[readingPassing],
                                 "Overall Passing Rate":[overallPassing]                            
                                })

districtSummary = districtSummary[["Total Schools",
                                 "Total Students",
                                 "Total Budget",
                                 "Average Math Score",
                                 "Average Reading Score",
                                 "Math Passing Rate",
                                 "Reading Passing Rate",
                                 "Overall Passing Rate"                            
                                    ]]

districtSummary.style.format({"Total School Budget": "${:20,.0f}",
                         "Average Math Score":"{:.2f}",
                          "Average Reading Score":"{:.2f}",
                          "Math Passing Rate":"{:.2%}",
                          "Reading Passing Rate":"{:.2%}",
                          "Overall Passing Rate":"{:.2%}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [20]:
# Groupby School
schoolGrouped = fullData_df.set_index('school_name').groupby(['school_name'])

# School Type
schoolType = schoolData_df.set_index('school_name')['type']

# Total Students per School
studentTotal_school = schoolGrouped['Student ID'].count()

# Budget per School
schoolBudget = schoolData_df.set_index('school_name')['budget']

# Budget per Student
studentBudget = schoolData_df.set_index('school_name')['budget']/schoolData_df.set_index('school_name')['size']


# Calculate Avergae Math Score per School
mathAvg_school = schoolGrouped['math_score'].mean()

# Calculate Percentage of Students Passing, Math per School (70+)
passingMath_school = fullData_df[fullData_df['math_score']>=70].groupby('school_name')['student_name'].count()/studentTotal_school


# Calculate Avergae Reading Score per School
readingAvg_school = schoolGrouped['reading_score'].mean()

# Calculate Percentage of Students Passing, Reading per School (70+)
passingReading_school = fullData_df[fullData_df['reading_score']>=70].groupby('school_name')['student_name'].count()/studentTotal_school


# Calculate Overall Percentage of Students Passing per School (70+)
passingOverall_school = fullData_df[(fullData_df['math_score'] >= 70) & (fullData_df['reading_score'] >= 70)].groupby('school_name')['student_name'].count()/studentTotal_school

# Create and Display Dataframe

schoolSummary = pd.DataFrame({
    "Type of School": schoolType,
    "Total # of Students": studentTotal_school,
    "Total School Budget": schoolBudget,
    "Per Student Budget": studentBudget,
    "Average Math Score": mathAvg_school,
    "Math Passing Rate": passingMath_school,
    "Average Reading Score": readingAvg_school,
    "Reading Passing Rate": passingReading_school,
    "Overall Passing Rate": passingOverall_school
})

schoolSummary.style.format({'Total # of Students': '{:,}', 
                          "Total School Budget": "${:20,.0f}", 
                          "Per Student Budget": "${:20,.0f}",
                          'Average Math Score': "{:.2f}", 
                          'Average Reading Score': "{:.2f}", 
                          "Math Passing Rate": "{:.2%}", 
                          "Reading Passing Rate": "{:.2%}", 
                          "Overall Passing Rate": "{:.2%}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [21]:
topSchools = schoolSummary.sort_values("Overall Passing Rate", ascending = False)

topSchools.head().style.format({'Total # of Students': '{:,}', 
                              'Total School Budget': '${:20,.0f}', 
                              'Per Student Budget': '${:20,.0f}',
                              'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              'Math Passing Rate': '{:.2%}', 
                              'Reading Passing Rate': '{:.2%}', 
                              'Overall Passing Rate': '{:.2%}'})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [22]:
bottomSchools = schoolSummary.sort_values("Overall Passing Rate", ascending = True)

bottomSchools.head().style.format({'Total # of Students': '{:,}', 
                          'Total School Budget': '${:20,.0f}', 
                          'Per Student Budget': '${:20,.0f}',
                          'Average Math Score': '{:.2f}', 
                          'Average Reading Score': '{:.2f}', 
                          'Math Passing Rate': '{:.2%}', 
                          'Reading Passing Rate': '{:.2%}', 
                          'Overall Passing Rate': '{:.2%}'})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [23]:
# Group by Grade
ninthMath = studentData_df.loc[studentData_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenthMath = studentData_df.loc[studentData_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventhMath = studentData_df.loc[studentData_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfthMath = studentData_df.loc[studentData_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

# Create and Display DataFrame
mathScores_grade = pd.DataFrame({
        "9th": ninthMath,
        "10th": tenthMath,
        "11th": eleventhMath,
        "12th": twelfthMath
})

mathScores_grade = mathScores_grade[['9th', '10th', '11th', '12th']]
mathScores_grade.index.name = 'School'


mathScores_grade.style.format({'9th': '{:.1f}', 
                          '10th': '{:.1f}', 
                          '11th': '{:.1f}', 
                          '12th': '{:.1f}'})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [24]:
# Group by Grade
ninthReading = studentData_df.loc[studentData_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenthReading = studentData_df.loc[studentData_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventhReading = studentData_df.loc[studentData_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfthReading = studentData_df.loc[studentData_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

# Create and Display DataFrame
readingScores_grade = pd.DataFrame({
        "9th": ninthReading,
        "10th": tenthReading,
        "11th": eleventhReading,
        "12th": twelfthReading
})

readingScores_grade = readingScores_grade[['9th', '10th', '11th', '12th']]
readingScores_grade.index.name = 'School'


readingScores_grade.style.format({'9th': '{:.1f}', 
                          '10th': '{:.1f}', 
                          '11th': '{:.1f}', 
                          '12th': '{:.1f}'})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [25]:
fullData_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [26]:
# Create Bins
bins = [0, 585, 630, 645, 680]
spendingRange = ['<$585', '$585-629', '$630-644', '$645-680']

fullData_df['Budget_Group'] = pd.cut(fullData_df['budget']/fullData_df['size'],bins, labels=spendingRange)

# Group By Spending
spendGroup = fullData_df.groupby('Budget_Group')

# Calculations
avgMath_spend = spendGroup['math_score'].mean()
avgRead_spend = spendGroup['reading_score'].mean()
percMath_spend = fullData_df[fullData_df['math_score'] >=70].groupby('Budget_Group')['Student ID'].count()/spendGroup['Student ID'].count()
percRead_spend = fullData_df[fullData_df['reading_score'] >=70].groupby('Budget_Group')['Student ID'].count()/spendGroup['Student ID'].count()
percOver_spend = fullData_df[(fullData_df['reading_score'] >= 70) & (fullData_df['math_score'] >= 70)].groupby('Budget_Group')['Student ID'].count()/spendGroup['Student ID'].count()

# Build and Display DataFrame
scoresBy_spend = pd.DataFrame({"Average Math Score": avgMath_spend,
                                "Math Passing Rate": percMath_spend,
                                    "Average Reading Score": avgRead_spend,
                                        "Reading Passing Rate": percRead_spend,
                                            "Overall Passing Rate": percOver_spend})
# Reorder Columns
scoresBy_spend = scoresBy_spend[['Average Math Score',
                                    'Math Passing Rate',
                                        'Average Reading Score',
                                            'Reading Passing Rate',
                                                'Overall Passing Rate']]

scoresBy_spend.index.name = "Per Student Budget"

scoresBy_spend.style.format({'Average Math Score': "{:.2f}", 
                              'Average Reading Score': "{:.2f}", 
                                  "Math Passing Rate": "{:.2%}", 
                                    "Reading Passing Rate": "{:.2%}", 
                                      "Overall Passing Rate": "{:.2%}"})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [27]:
# Create Bins
bins = [0, 999, 1999, 99999999999]
schoolSize = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
fullData_df['Size_Group'] = pd.cut(fullData_df['size'],bins, labels=schoolSize)

# Group by Size
sizeGroup = fullData_df.groupby('Size_Group')

# Calculations
avgMath_size = spendGroup['math_score'].mean()
avgRead_size = spendGroup['reading_score'].mean()
percMath_size = fullData_df[fullData_df['math_score'] >=70].groupby('Size_Group')['Student ID'].count()/spendGroup['Student ID'].count()
percRead_size = fullData_df[fullData_df['reading_score'] >=70].groupby('Size_Group')['Student ID'].count()/spendGroup['Student ID'].count()
percOver_size = fullData_df[(fullData_df['reading_score'] >= 70) & (fullData_df['math_score'] >= 70)].groupby('Size_Group')['Student ID'].count()/spendGroup['Student ID'].count()

# Build and Display DataFrame
scoresBy_size = pd.DataFrame({"Average Math Score": avgMath_size,
                                "Math Passing Rate": percMath_size,
                                    "Average Reading Score": avgRead_size,
                                        "Reading Passing Rate": percRead_size,
                                            "Overall Passing Rate": percOver_size})

# Reorder Columns
scoresBy_size = scoresBy_size[['Average Math Score',
                                    'Math Passing Rate',
                                        'Average Reading Score',
                                            'Reading Passing Rate',
                                                'Overall Passing Rate']]

scoresBy_size.index.name = "Total Students"

scoresBy_size.style.format({'Average Math Score': "{:.2f}", 
                              'Average Reading Score': "{:.2f}", 
                                  "Math Passing Rate": "{:.2%}", 
                                      "Reading Passing Rate": "{:.2%}", 
                                          "Overall Passing Rate": "{:.2%}"})

## Scores by School Type

* Perform the same operations as above, based on school type

In [28]:
# Group by Type
schoolType = fullData_df.groupby('type')

# Calculations
avgMath_type = schoolType['math_score'].mean()
avgRead_type = schoolType['reading_score'].mean()
percMath_type = fullData_df[fullData_df['math_score'] >=70].groupby('type')['Student ID'].count()/spendGroup['Student ID'].count()
percRead_type = fullData_df[fullData_df['reading_score'] >=70].groupby('type')['Student ID'].count()/spendGroup['Student ID'].count()
percOver_type = fullData_df[(fullData_df['reading_score'] >= 70) & (fullData_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/spendGroup['Student ID'].count()

# Build and Display DataFrame
scoresBy_type = pd.DataFrame({"Average Math Score": avgMath_type,
                                "Math Passing Rate": percMath_type,
                                    "Average Reading Score": avgRead_type,
                                        "Reading Passing Rate": percRead_type,
                                            "Overall Passing Rate": percOver_type})
# Reorder Columns
scoresBy_type = scoresBy_type[['Average Math Score',
                                    'Math Passing Rate',
                                        'Average Reading Score',
                                            'Reading Passing Rate',
                                                'Overall Passing Rate']]

scoresBy_type.index.name = "School Type"

scoresBy_type.style.format({'Average Math Score': "{:.2f}", 
                              'Average Reading Score': "{:.2f}", 
                                  "Math Passing Rate": "{:.2%}", 
                                      "Reading Passing Rate": "{:.2%}", 
                                          "Overall Passing Rate": "{:.2%}"})